@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;300&family=Open+Sans:wght@300&display=swap');

/* General boilerplate code for resetting borders and margins */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100vh;
	background: #15142a;
	background-size: cover;
}

/* CSS for Navigation Bar and Hamburger Menu */
nav {
	height: 65px;
	background: #004e92;
}

.navbar {
	display: flex;
}

.search-bar {
	font-family: 'Heebo';
	padding-top: 12.5px;
	padding-left: 2vh;
	width: 35%;
}

#search {
	height: 40px;
	padding-left: 30px;
	border: none;
	border-radius: 20px;
	background: rgba(255, 255, 255, 0.6);
	font-size: 20px;
	display: block;
	width: 90%;
	overflow: hidden;
	line-height: 40px;
}

.links {
	width: 65%;
}

.nav-links {
	font-family: 'Heebo';
	letter-spacing: 1.5px;
	font-weight: 300;
	display: flex;
	list-style: none;
	width: 100%;
	height: 100%;
	justify-content: space-around;
	align-items: center;
	margin-left: auto;
}

.nav-links li a {
	color: white;
	text-decoration: none;
	font-size: 1.1rem;
}
/*CSS for Navigation Bar ends */

.landing {
	height: 100%;
	width: 100%;
	background: #15142a;
}

.landing h1 {
	letter-spacing: 10px;
	font-family: 'Heebo';
	font-size: 4rem;
	color: white;
	font-weight: 100;
	padding-top: 8vh;
	margin-left: 8vh;
	margin-bottom: 40px;
}

.landing h2 {
	text-align: center;
	letter-spacing: 2px;
	font-family: 'Heebo';
	font-size: 1.5rem;
	color: white;
	font-weight: 300;
}

.landing h3 {
	text-align: center;
	letter-spacing: 2px;
	font-family: 'Heebo';
	font-size: 1.15rem;
	color: white;
	font-weight: 100;
}

.cards {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.profile {
	width: 300px;
	height: 400px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	border-radius: 28px;
	background: linear-gradient(145deg, #131226, #16152d);
	box-shadow: 20px 20px 60px #121124, -20px -20px 60px #181730;
}

.icons img {
	height: 40px;
	width: 40px;
	margin: 15px;
}

.photo {
	width: 220px;
	height: 220px;
	-webkit-border-radius: 60px;
	-webkit-background-clip: padding-box;
	-moz-border-radius: 60px;
	-moz-background-clip: padding;
	border-radius: 50%;
	background-clip: padding-box;
	margin: 7px 0 0 5px;
	float: left;
	background-size: cover;
	background-position: center center;
}

/* CSS for Footer */
footer {
	text-align: center;
	font-family: 'Heebo';
	font-weight: 300;
	color: black;
	width: 100%;
	height: 25vh;
	background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
	flex-direction: column;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.icons {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

#linkedin,
#fb,
#insta {
	margin-left: 10px;
	margin-right: 10px;
	height: 40px;
	width: 40px;
}

#back a {
	text-decoration: none;
	color: white;
}

#back {
	font-family: 'Open Sans';
	font-size: 14px;
	width: 150px;
	height: 40px;
	outline: none;
	border: none;
	cursor: pointer;
	font-weight: 300;
	border-radius: 70px;
	color: #fff;
	background: linear-gradient(to bottom right, #6452e9, #639ff9);
	box-shadow: 0 13px 26px rgba(#000, 0.16), 0 3px 6px rgba(#000, 0.16);
}
/* CSS for Quotes Page ends */

/* CSS for Responsive Website */
@media screen and (max-width: 910px) {
	/* Code for Navbar and Hamburger Menu */
	nav {
		position: relative;
	}

	.search-bar {
		position: absolute;
		width: 80%;
	}

	.button_container {
		position: absolute;
		top: 35%;
		right: 4%;
		height: 27px;
		width: 35px;
		cursor: pointer;
		z-index: 200;
		transition: opacity 0.25s ease;
	}
	.button_container.active {
		position: fixed;
		top: 3.25%;
	}
	.button_container:hover {
		opacity: 0.7;
	}

	.button_container.active .top {
		transform: translateY(11px) translateX(0) rotate(45deg);
		background: #fff;
	}

	.button_container.active .middle {
		opacity: 0;
		background: #fff;
	}

	.button_container.active .bottom {
		transform: translateY(-11px) translateX(0) rotate(-45deg);
		background: #fff;
	}

	.button_container span {
		background: white;
		border: none;
		height: 2px;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		transition: all 0.35s ease;
		cursor: pointer;
	}

	.button_container span:nth-of-type(2) {
		top: 11px;
	}

	.button_container span:nth-of-type(3) {
		top: 22px;
	}

	.links {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		font-family: 'Heebo';
		position: fixed;
		background: #004e92;
		top: 0;
		left: 0;
		width: 100%;
		height: 0%;
		opacity: 0;
		z-index: 100;
		visibility: hidden;
		transition: opacity 0.35s, visibility 0.35s, height 0.35s;
		overflow: hidden;
	}

	.links.open {
		opacity: 1;
		visibility: visible;
		height: 100%;
	}

	.links.open li {
		animation: fadeInRight 0.5s ease forwards;
		animation-delay: 0.35s;
	}

	.links.open li:nth-of-type(2) {
		animation-delay: 0.4s;
	}

	.links.open li:nth-of-type(3) {
		animation-delay: 0.45s;
	}

	.links.open li:nth-of-type(4) {
		animation-delay: 0.5s;
	}
	.links ul {
		list-style: none;
		padding: 0;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		position: relative;
		height: 100%;
	}
	.links ul li {
		display: block;
		position: relative;
		opacity: 0;
		text-align: center;
	}

	.links ul li a {
		font-size: 1.5rem;
		letter-spacing: 5px;
		font-family: 'Heebo';
		display: block;
		position: relative;
		color: #fff;
		text-decoration: none;
		overflow: hidden;
	}

	.links ul li a:hover:after,
	.links ul li a:focus:after,
	.links ul li a:active:after {
		width: 100%;
	}

	.links ul li a:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 50%;
		width: 0%;
		transform: translateX(-50%);
		height: 100%;
		background: #fff;
		transition: 0.35s;
	}
	.nav-links ul {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	@keyframes fadeInRight {
		0% {
			opacity: 0;
			left: 20%;
		}

		100% {
			opacity: 1;
			left: 0;
		}
	}
	/* Code for Navbar and Hamburger Menu ends*/
	.landing {
		width: 100%;
		height: auto;
		min-height: 100vh;
	}
	.profile {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.landing h1 {
		text-align: center;
		letter-spacing: 2px;
		font-size: 2.25rem;
		font-weight: 100;
		margin-left: 0;
		margin-bottom: 20px;
	}
}
