@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;300&family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
/* General boilerplate code for resetting borders and margins */
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');

.info-msg,
.success-msg,
.warning-msg,
.error-msg {
	padding: 10px;
	border-radius: 3px 3px 3px 3px;
}

.success-msg {
	color: #270;
	background-color: #dff2bf;
}

.error-msg {
	color: #d8000c;
	background-color: #ffbaba;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100vw;
	height: 100vh;
	background-size: cover;
	overflow-x: hidden;
}

/* CSS for Navigation Bar and Hamburger Menu */
nav {
	height: 65px;
	background: #004e92;
}

.navbar {
	display: flex;
}

.navbar-top {
	position: absolute;
	width: 100%;
}

.search-bar {
	font-family: 'Heebo';
	padding-top: 12.5px;
	padding-left: 2vh;
	background-color: white;
	top: -66px;
	border-radius: 15px;
	position: absolute;
	padding: 1.5% 1% 3% 2%;
	z-index: 1;
}

.search-bar::after {
	content: "";
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCAxMzYgNzAiPjxwYXRoIGZpbGw9IiNmZmYiIGQ9Ik02NCA0OC4zMzMzQzQwLjMxMjUgNzAgMCA3MCAwIDcwaDEzNS41VjBoLTguNjczQzEwNC40MSAwIDg1LjcwNDUgMTUuNTg0MiA3NC4zMzA2IDM0LjkwMTUgNzEuMjgxIDQwLjA4MDggNjcuODE2OSA0NC44NDIxIDY0IDQ4LjMzMzN6Ii8+PC9zdmc+);
	height: 80%;
	width: 100%;
	position: absolute;
	top: 0px;
	right: -119px;
	z-index: -1;
	transform: rotateY(180deg);
}

.search-container {
	display: flex;
	align-items: center;
	border-radius: 10px;
	background: rgb(233 235 239);
	padding-left: 5%;
	width: 100%;
}

.search-container i {
	color: #364453;
	opacity: 0.8;
	transition: all 2s ease-in;
	margin-right: 2%;
}

#search {
	height: 40px;
	padding-left: 10px;
	border: none;
	background: rgba(255, 121, 121, 0);
	font-size: 20px;
	display: block;
	overflow: hidden;
	line-height: 40px;
	width: 100%;
	cursor: text;
	color: white;
	transition: width 2s ease-in;
}



input::-webkit-input-placeholder {
	color: rgb(122, 122, 122) !important;
}

input:-moz-placeholder {
	/* Firefox 18- */
	color: rgb(122, 122, 122) !important;
}

input::-moz-placeholder {
	/* Firefox 19+ */
	color: rgb(122, 122, 122) !important;
}

input:-ms-input-placeholder {
	color: rgb(122, 122, 122) !important;
}

input:focus {
	outline: none;
}

input {
	transition: all 2s ease-in;
}

.links {
	background-color: white;
	padding: 2% 4% 5% 2%;
	position: absolute;
	top: -68px;
	border-radius: 15px;
	z-index: 1;
	right: 0;
}

ul::before {
	content: "";
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCAxMzYgNzAiPjxwYXRoIGZpbGw9IiNmZmYiIGQ9Ik02NCA0OC4zMzMzQzQwLjMxMjUgNzAgMCA3MCAwIDcwaDEzNS41VjBoLTguNjczQzEwNC40MSAwIDg1LjcwNDUgMTUuNTg0MiA3NC4zMzA2IDM0LjkwMTUgNzEuMjgxIDQwLjA4MDggNjcuODE2OSA0NC44NDIxIDY0IDQ4LjMzMzN6Ii8+PC9zdmc+);
	height: 70%;
	width: inherit;
	position: absolute;
	top: 0px;
	left: -119px;
	z-index: -1;
}

.nav-links {
	font-family: Rubik;
	font-style: normal;
	font-weight: 600;
	font-size: 0.6rem;
	color: #5F6F81;
	display: flex;
	list-style: none;
	width: 100%;
	height: 100%;
	justify-content: space-around;
	align-items: center;
	margin-left: auto;
}

.nav-links li {
	margin: 0 10%;
}

.nav-links li a {
	color: rgb(58, 57, 57);
	text-decoration: none;
	font-size: 1.1rem;
}

/*CSS for Navigation Bar ends */

/* CSS for the Profile Page*/
.card {
	font-family: 'Heebo';
	font-weight: 300;
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 100vh;
	width: 100%;
	background: #15142a;
	background-size: cover;
	box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
	overflow: hidden;
	transition: all 0.5s ease;
}

/* CSS for the profile photo */

.main-content {
	width: 100%;
	position: absolute;
	display: flex;
	justify-content: center;
}

section {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #F0F2F5;
	padding: 2%;
	position: absolute;
}

.container {
	border-radius: 50px;
	width: 90%;
	margin-left: 3%;
	height: 90%;
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	position: relative;
	border-top-right-radius: 0;
	margin-top: 4%;
	border-top-left-radius: 0;
	box-shadow:
		0 1.3px 11.1px rgba(0, 0, 0, 0.036),
		0 2.9px 37.3px rgba(0, 0, 0, 0.054),
		0 10px 167px rgba(0, 0, 0, 0.09);

}

.profile-box {
	width: 30%;
	height: 100%;
	display: flex;
	padding: 3% 2%;
	align-items: center;
	flex-direction: column;
}

.profile-image {
	width: 91%;
	height: 200px;
	background-size: cover;
	background-position: center;
	border-radius: 30px;
	transition: all 0.4s ease-out;
}


.profile-image:hover {
	box-shadow:
		0 4px 6.1px rgba(0, 0, 0, 0.085),
		0 32px 49px rgba(0, 0, 0, 0.17);

	transform: translateZ(-15px) scale(1.02);

}




.profile-name {
	margin-top: 6%;
	text-align: center;
}

.profile-name h2 {
	font-family: 'Rubik', sans-serif;
	font-weight: 300;
	color: #354353;
}

.profile-name span {
	font-weight: 700;
	color: #354353;
}

.profile-info {
	width: 100%;
	padding: 5% 8%;
}

.profile-info-item {
	margin: 8% 0;
	display: flex;
	font-family: 'Rubik', sans-serif;
	font-weight: 200;
	letter-spacing: 1px;
}

.profile-info-item p {
	margin-left: 8%;
}

i {
	color: #525252;
}

i:hover {
	color: black;
	cursor: pointer;
}

.profile-button {
	padding: 5%;
	background-color: #304CFD;
	border-radius: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 2% 5%;
	font-family: 'Rubik', sans-serif;
	font-weight: 400;
	border: none;
	color: rgb(249, 249, 249);
}

.profile-button:hover {
	cursor: pointer;
}

.profile-button:focus {
	outline: none;
}

.yearbook-quote {
	padding: 6% 8% 10% 6%;
	background-color: rgb(48, 76, 253, 0.08);
	border-radius: 20px;
	margin: 2% 5%;
	font-family: 'Rubik', sans-serif;
	font-weight: 400;
	color: rgb(58, 58, 58);
}

.yearbook-heading {
	width: 100%;
	padding: 2% 8%;
}

.yearbook-heading h1 {
	position: relative;
	z-index: 2;
}

.yearbook-heading span::before {
	content: '';
	position: absolute;
	height: 10px;
	width: 102px;
	left: 0;
	bottom: 0;
	background-color: #FFABAB;
	opacity: 0.8;
	z-index: -1;
}

.profile-box h1 {
	font-size: 1.3rem;
	letter-spacing: 0;
	font-weight: 800;
}


/* 
Comment Box */


h1 {
	font-family: 'Rubik', sans-serif;
	font-weight: 900;
	letter-spacing: 1px;
	font-size: 2rem;
}

.comment-container h1 span::before,
#batchies::before {
	content: '';
	position: absolute;
	height: 10px;
	width: 115px;
	left: 0;
	bottom: 4px;
	background-color: #FFABAB;
	opacity: 0.8;
	z-index: -1;
}

#batchies::before {
	left: unset;
	width: 158px;
}


/* CSS for Profile Page ends */
/* CSS for the modal */

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
	-webkit-animation-name: fadeIn;
	-webkit-animation-duration: 0.4s;
	animation-name: fadeIn;
	animation-duration: 0.4s
}

.modal-content {
	position: fixed;
	bottom: 0;
	background-color: #fefefe;
	width: 100%;
	-webkit-animation-name: slideIn;
	-webkit-animation-duration: 0.4s;
	animation-name: slideIn;
	animation-duration: 0.4s;
	font-family: 'Rubik';
}

.close {
	color: white;
	float: right;
	font-size: 28px;
	font-weight: bold;
	padding-right: 2%;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.modal-body,
.modal-footer,
.modal-header {
	padding: 2%;
}

.modal-header {
	background-color: #5cb85c;
	color: white;
}

.modal-footer {
	background-color: #5cb85c;
	color: white;
}

#myBtn {
	position: absolute;
	top: 36px;
	left: 0px;
}

/* Add Animation */
@-webkit-keyframes slideIn {
	from {
		bottom: -300px;
		opacity: 0
	}

	to {
		bottom: 0;
		opacity: 1
	}
}

@keyframes slideIn {
	from {
		bottom: -300px;
		opacity: 0
	}

	to {
		bottom: 0;
		opacity: 1
	}
}

@-webkit-keyframes fadeIn {
	from {
		opacity: 0
	}

	to {
		opacity: 1
	}
}

@keyframes fadeIn {
	from {
		opacity: 0
	}

	to {
		opacity: 1
	}
}


input::-webkit-input-placeholder {
	color: #888;
}

input:focus::-webkit-input-placeholder {
	color: #999;
}

/* CSS for the modal ends */

/* CSS for the Quotes display page */
.quotes-page {
	font-family: 'Heebo';
	font-weight: 300;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
	height: auto;
	width: 100%;
	background: #15142a;
	background-size: cover;
	box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
	overflow: hidden;
	transition: all 0.5s ease;
	padding-bottom: 50px;
}

/* CSS for the popup modal */
.modalDialog {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.8);
	z-index: 99999;
	opacity: 0;
	-webkit-transition: opacity 100ms ease-in;
	-moz-transition: opacity 100ms ease-in;
	transition: opacity 100ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity: 1;
	pointer-events: auto;
}

.modalDialog>div {
	max-width: 800px;
	width: 90%;
	position: relative;
	margin: 10% auto;
	padding: 20px;
	border-radius: 3px;
	background: #fff;
}



.speech-bubble {
	margin-top: 50px;
	margin-bottom: 50px;
	position: relative;
	background: #004e92;
	min-height: 200px;
}

.speech-bubble:nth-child(2n) {
	border-left: 10px solid white;
}

.speech-bubble:nth-child(2n):after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 80%;
	width: 0;
	height: 0;
	border: 60px solid transparent;
	border-top-color: #004e92;
	border-bottom: 0;
	border-right: 0;
	margin-left: -30px;
	margin-bottom: -59px;
}

.speech-bubble:nth-child(2n + 1) {
	border-right: 10px solid white;
}

.speech-bubble:nth-child(2n + 1):after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 20%;
	width: 0;
	height: 0;
	border: 60px solid transparent;
	border-top-color: #004e92;
	border-bottom: 0;
	border-left: 0;
	margin-left: -30px;
	margin-bottom: -59px;
}

.quotes-page h1 {
	letter-spacing: 10px;
	font-family: 'Heebo';
	font-size: 4rem;
	color: white;
	font-weight: 100;
	margin-top: 8vh;
}

.quotes-page h2 {
	letter-spacing: 5px;
	font-family: 'Heebo';
	font-size: 2.5rem;
	color: white;
	font-weight: 300;
	margin-top: 4vh;
	margin-left: 4vh;
	margin-right: 30px;
}

.quotes-page h3 {
	letter-spacing: 5px;
	font-family: 'Heebo';
	font-size: 1.5rem;
	color: white;
	font-weight: 100;
	float: right;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 70px;
}

.quotes-page div {
	width: 90%;
}

footer {
	text-align: center;
	font-family: 'Heebo';
	font-weight: 300;
	color: black;
	width: 100%;
	height: 25vh;
	background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
	flex-direction: column;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.icons {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

#linkedin,
#fb,
#insta {
	margin-left: 10px;
	margin-right: 10px;
	height: 40px;
	width: 40px;
}

#devs {
	font-family: 'Open Sans';
	font-size: 16px;
	width: 120px;
	height: 40px;
	outline: none;
	border: none;
	cursor: pointer;
	font-weight: 100;
	border-radius: 70px;
	color: #fff;
	background: linear-gradient(to bottom right, #6452e9, #639ff9);
	box-shadow: 0 13px 26px rgba(#000, 0.16), 0 3px 6px rgba(#000, 0.16);
	text-align: center;
	transition: opacity 0.35s ease;
	margin-bottom: 10px;
}

#photo-upload {
	font-family: 'Open Sans';
	font-size: 16px;
	width: 150px;
	height: 42px;
	outline: none;
	border: none;
	cursor: pointer;
	font-weight: 100;
	border-radius: 70px;
	color: #fff;
	background: linear-gradient(to bottom right, #6452e9, #639ff9);
	box-shadow: 0 13px 26px rgba(#000, 0.16), 0 3px 6px rgba(#000, 0.16);
	text-align: center;
	transition: opacity 0.35s ease;
	margin-bottom: 10px;
	margin-top: 10px;
}



.comment-container {

	padding: 1% 1% 3%;
	width: 70%;
	margin-top: 1.8%;

}


.comment-box {
	height: 70vh;
	overflow-y: auto;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-around;
	margin-top: 1%;
	border-radius: 15px;
}

.heading {
	position: sticky;
	margin-top: 0%;
	z-index: 3;
}

.masonry {
	columns: 3;
	column-gap: 0vw;




}



.grid {
	display: inline-block;
	margin: 1px;
	position: relative;
	width: 100%;

}

.c p {
	width: 100%;
	text-align: right;
	margin-top: 5%;
}



.c {
	font-family: 'Rubik', sans-serif;
	font-weight: 350;
	font-size: 0.7rem;
	background: rgba(255, 255, 255, 0.35);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	font-size: 1.3vw;
	opacity: 1;
	animation: haha 4s 1;
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: 2%;
	padding: 5%;
	border: 2px solid #e7e7e7;

}

.c:hover {
	border: 2px solid rgb(174, 174, 174);
}


@keyframes haha {

	from {
		opacity: 0.3;
	}

	to {
		opacity: 1;
	}
}









/* CSS for Quotes Page ends */

/* CSS for Responsive Website */
/* @media screen and (max-width: 910px) {

	

} */

/* @media screen and (max-width: 430px) {
	.modal {
		width: 90%;
		position: absolute;
		margin: 0;
		top: 20%;
		left: 5%;
	}

	label {
		font-size: 1.25rem;
	}
} */



/* 
CSS FOR SOCIAL */

.social {
	position: absolute;
	height: 37vh;
	width: 4.6vw;
	left: 0px;
	top: 35vh;
	background-color: lightskyblue;
	border-radius: 15px;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: rgba(255, 255, 255, .7);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}

.red,
.yellow,
.blue {
	content: '';
	position: absolute;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	bottom: 5px;
}

.red {
	background-color: #F11B26;
	right: 5px;
}

.blue {
	background-color: #7AC3E8;
	right: 24px;
}

.yellow {
	right: 44px;
	background-color: #FDB32A;
}

.social-links a {
	margin: 0.4vw 0;
}

.social-links {
	display: flex;
	flex-direction: column;
}


.social a i:hover {
	color: black;
	cursor: pointer;
}

.sarc-logo {
	width: inherit;
	height: 28%;
	margin-bottom: 0.6rem;
	border-top-right-radius: 15px;
	background-image: url(../images/sarc-logo_1-01.jpeg);
	background-position: center;
	background-size: cover;
	border-bottom: black;
	box-shadow:
		0 3.3px 7.2px rgba(0, 0, 0, 0.073),
		0 11.2px 24.1px rgba(0, 0, 0, 0.107),
		0 50px 108px rgba(0, 0, 0, 0.18);

}











@media (max-width: 992px) {
	.masonry {
		columns: 2;
	}

	.comment-container h1 {
		font-size: 1.5rem;
	}
}

@media (max-width: 600px) {
	.masonry {
		columns: 1;
	}

	.navbar-top {
		top: 0;
	}

	.main-content {
		flex-direction: column;
		align-items: center;
		height: 95.5%;
	}

	.container {
		position: unset;
		width: 100%;
		align-items: center;
		margin: 0;
		border-radius: 20px;
	}

	.links {
		background-color: #ffffff;
		padding: 3%;
		position: absolute;
		border-radius: 15px;
		z-index: 1;
		right: 0;
	}

	.comment-container {
		width: 90%;
		height: 66%;
		margin-top: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.comment-container h1 {
		font-size: 0.7rem;
		position: relative;
		text-align: center;
		margin-bottom: 0.4rem;
	}

	.comment-container h1 span::before {
		bottom: 1px;
		left: 0;
		width: 43px;
		height: 5px;
	}

	#batchies::before {
		bottom: 1px;
		left: unset;
		width: 59px;
		height: 5px;
	}

	.comment-box {
		height: 46.5vh;
	}

	.profile-info {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: fit-content;
	}

	.profile-info-item {
		margin: 1% 0;
		width: 100%;
	}



	.profile-box h1 {
		font-size: 0.6rem;
	}

	.profile-name,
	.profile-info {
		font-size: 0.4rem;
		margin: 2%;
		padding: 0;
	}

	.profile-box {
		height: fit-content;
		padding: 3% 2% 2%;
		width: 100%;
	}

	.profile-image {
		border-radius: 12px;
		width: 97px;
		height: 85px;
	}

	.yearbook-quote {
		border-radius: 10px;
		font-size: 0.5rem;
		padding: 3%;
	}

	.yearbook-heading {
		padding: 0 8%;
		text-align: center;
	}

	.yearbook-heading span::before {
		height: 4px;
		width: 48px;
		left: 90px;
	}

	.profile-button {
		padding: 2%;
		font-size: 0.5rem;
		width: 28%;
		margin: 0;
	}

	.c p {
		margin-top: 0;
	}

	.c {
		padding: 2%;
		margin: 1% 2%;
		font-size: 2vw;
	}




	.links,
	.search-bar {
		top: 0;
		position: unset;
		flex: 2;
		border-radius: 0;
	}

	.links {
		flex: 1;
		border-bottom-right-radius: 10px;
		border-left: 1.5px solid #e7e9ed;
	}

	.search-bar {
		padding: 2%;
		border-bottom-left-radius: 10px;

	}

	.search-bar::after,
	ul::before {
		display: none;
	}

	.nav-links li a {
		font-size: 0.6rem;
	}

	#search {
		height: 3vh;
		font-size: 0.6rem;
		padding-left: 0;
	}

	.search-container i {
		transform: scale(0.7);
	}

	.search-container {
		padding-left: 1.5%;
		border-radius: 5px;
	}

	.navbar-top {
		display: flex;
		justify-content: space-between;
		width: 95%;
	}


	.social {
		position: absolute;
		justify-content: space-between;
		width: 60vw;
		height: fit-content;
		left: unset;
		bottom: 0;
		background-color: lightskyblue;
		border-radius: 15px;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		display: flex;
		top: unset;
		flex-direction: row;
		background: rgba(255, 255, 255, .7);
		-webkit-backdrop-filter: blur(10px);
		backdrop-filter: blur(10px);
	}

	.sarc-logo {
		width: 20%;
		height: 5vh;
		background-image: url(../images/sarc-logo_1-01.jpeg);
		background-position: center;
		background-size: contain;
		margin-bottom: 0;
		border-top-left-radius: 10px;
		border-top-right-radius: 0px;
	}

	.social .social-links a i {
		transform: scale(0.5);
	}

	.social-links {
		padding-right: 0%;
		width: 75%;
		display: unset;
	}

	.red,
	.yellow,
	.blue {
		width: 7px;
		right: 5px;
		height: 7px;
	}

	.blue {
		right: 5px;
		top: 14px;
	}

	.yellow {
		right: 5px;
		top: 5px;
	}

}