<!DOCTYPE html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Notifications</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="../public/assets/stylesheets/notifications.css">
</head>

<body>
    <nav class="navbar">

        <div class="search-bar">
            <form action="/search" method="POST">
            <input type="text" name="user[bitsid]" id="search" placeholder="Search by BITS ID">
            </form>
        </div>
    
        <div class="links" id="nav-links">
            <ul class="nav-links">
                <li><a href="../views/profile.html">Profile</a></li>
                <li><a href="../views/nominate.html">Nominate a Friend</a></li>
                <li><a href="../views/notifications.html">Notifications</a></li>
                <li><a href="/auth/logout">Logout</a></li>
        </ul>
        </div>
    
        <div class="button_container" id="toggle" onclick="toggle()">
            <span class="top"></span>
            <span class="middle"></span>
            <span class="bottom"></span>
        </div>
    
        </nav>

    <section class="landing">
        <h1>Notifications</h1>
        <div class="messages">
           
            <div id="m1">
                <h2> Soham has nominated you to write a caption!</h2>
                <a href="../views/caption.html"><button type="button" class="btn">Write/edit a Caption</button></a>
            </div>
           
            <div id="m1"><h2>Puney Chawla has nominated you to write a caption in his Yearbook!</h2>
                <a href="../views/caption.html"><button type="button" class="btn">Write a Caption</button></a>
            </div>
           
            <div id="m1"><h2>Yash Thakker has nominated you to write a caption in his Yearbook!</h2>
                <a href="../views/caption.html"><button type="button" class="btn">Write a Caption</button></a>
            </div>
           
            <div id="m1" style="border: 0px;">
                <button id="back"><a href="profile.html">Back to My Profile</a></button></a>
            </div>

        </div>
    </section>

    <footer>
        <h3>Follow us on:</h3>
        <div class="icons">
            <a href="https://www.linkedin.com/company/arcbitspilani/?originalSubdomain=in"><img src="../public/assets/images/linkedin.png" id="linkedin"></a>
            <a href="https://www.facebook.com/arcbitspilani/"><img src="../public/assets/images/facebook.png" id="fb"></a>
            <a href="https://www.instagram.com/sarcbitspilani/"><img src="../public/assets/images/instagram.png" id="insta"></a>
        </div>
        <button id="back"><a href="/profile/">Back to My Profile</a></button>
    </footer>

    <script src="/assets/scipts/app.js"></script>
</body>
</html>