<!DOCTYPE html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css"
        integrity="sha384-wESLQ85D6gbsF459vf1CiZ2+rr+CsxRY0RpiF1tLlQpDnAgg6rwdsUF1+Ics2bni" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/assets/stylesheets/profile.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>

    <section class="landing">

        <div class="container">

            <div class="navbar-top">

                <div class="search-bar">
                    <form action="" method="POST">
                        <div class="search-container">
                            <i class="fas fa-search"></i>
                            <input type="text" name="user[bitsid]" id="search" placeholder="Search by BITS ID">
                        </div>
                    </form>
                </div>

                <div class="links" id="nav-links">
                    <ul class="nav-links">
                        <li><a href="../views/profile.html">Profile</a></li>
                        <li><a href="/auth/logout">Logout</a></li>
                    </ul>
                </div>

            </div>


            <div class="main-content">
                <div class="profile-box">

                    <div class="profile-image">

                    </div>

                    <div class="profile-name">
                        <h2>Saksham <span>Aggarwal</span></h2>

                    </div>
                    <div class="profile-info">

                        <div class="profile-info-item">
                            <i class="fas fa-graduation-cap"></i>
                            <p>CSE</p>
                        </div>

                        <div class="profile-info-item">
                            <i class="fas fa-id-card "></i>
                            <p>2020A7PS1508P</p>
                        </div>

                    </div>
                    <div class="yearbook-heading">
                        <h1><span>Yearbook </span> Quote</h1>
                    </div>
                    <div class="yearbook-quote">
                        <p>"Hum aapke bohot bohot aabhaari hain. Merko vote daalo. Love you guys"</p>
                    </div>
                    <button class="profile-button" type="submit">
                        <p>Back To Profile</p>
                    </button>
                </div>


                <div class="comment-container">
                    <h1 class="heading"> <span>Here's</span> What my <span id="batchies">batchies</span> think about me
                    </h1>

                    <div class="comment-box">

                        <div class="masonry">
                            <div class="grid">

                                <div class="c"> Finished her are its honoured drawings nor. Pretty see mutual thrown all
                                    not edward ten. Particular an boisterous up he reasonably frequently. Several any
                                    had enjoyed shewing studied two. Up intention remainder sportsmen behaviour ye
                                    happiness. Few again any alone style added abode ask. Nay proje
                                    <p> ~ Saksham</p>
                                </div>

                            </div>
                            <div class="grid">

                                <div class="c"> Finished her are its honoured drawings nor. Pretty see mutual thrown all
                                    not edward ten. Particular an boisterous up he reasonably frequently. Several any
                                    had enjoyed shewing studied two.Few again any alone style added abode ask. Nay proje
                                    <p>~ Sarthak </p>
                                </div>

                            </div>
                            <div class="grid">

                                <div class="c"> Finished her are its honoured drawings nor. Pretty see mutual thrown all
                                    not edward ten. Particular an boisterous up he reasonably frequently. Several any
                                    had enjoyed shewing studied two.Few again any alone style added abode ask. Nay proje
                                    <p>~ Sarthak </p>
                                </div>

                            </div>
                            <div class="grid">

                                <div class="c"> Finished her are its honoured drawings nor. Pretty see mutual thrown all
                                    not edward ten. Particular an boisterous up he reasonew again any alone style added
                                    abode ask. Nay proje<p>~ Sarthak </p>
                                </div>

                            </div>
                            <div class="grid">

                                <div class="c"> Finished her are its honoured drawings nor. Pretty see mutual thrown all
                                    not edward ten. Particular an boisterous up he reasonably frequently. Several any
                                    had enjoyed shewing studied two.Few again any alone style added abode ask. Nay proje
                                    <p>~ Sarthak </p>
                                </div>

                            </div>
                            <div class="grid">

                                <div class="c"> Finished her are its honoured drawings nor. Pretty see mutual thrown all
                                    not edward ten. Particular an boisterous up he reasonably frequently. Several any
                                    had enjoyed shewing studied two. Up intention remainder sportsmen behaviour ye
                                    happiness. Few again any alone style added abode ask. Nay proje
                                </div>
                            </div>
                            <div class="grid">

                                <div class="c"> Finished her are its honoured drawings nor. Pretty see mutual thrown all
                                    not edward ten. Particular an boisterous up he reasonably frequently. Several any
                                    had enjoyed shewing studied two.Few again any alone style added abode ask. Nay proje
                                    <p>~ Sarthak </p>
                                </div>

                            </div>
                            <div class="grid">

                                <div class="c"> Finished her are its honoured drawings nor. Pretty see mutual thrown all
                                    not edward ten. Particular an boisterous up he reasonablably enjoyed shewfrequently.
                                    Several any hading studied two.Fy frequently. Several any had enjoyed shewing
                                    studied two.Few again any alone style added abode ask. Nay proje<p>~ Sarthak </p>
                                </div>

                            </div>
                            <div class="grid">

                                <div class="c"> Finished healone style added abode ask. Nay proje
                                    <p> ~ Saksham</p>
                                </div>

                            </div>



                        </div>

                    </div>

                     
                </div>
            </div> 
        </div>
        </div>
        <div class="social">
            <div class="sarc-logo"> </div>
            <a href="https://twitter.com" target="_blank"><i class="fab fa-github fa-2x"></i></a>
            <a href="https://twitter.com" target="_blank"><i class="fab fa-linkedin-in fa-2x"></i></a>
            <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
            <a href="https://twitter.com" target="_blank" id="instagram"><i class="fab fa-instagram fa-2x"></i></a>
            <div class="yellow"></div>
            <div class="blue"></div>
            <div class="red"></div>
        </div>
    </section>
    <script src="https://kit.fontawesome.com/d689986894.js" crossorigin="anonymous"></script>
    <script src="https://cdn.rawgit.com/adriancooney/console.image/c9e6d4fd/console.image.min.js"></script>
    <script src="../public/assets/scipts/app.js"></script>
</body>

</html>